{
  "env": {
    "node": true,
    "es6": true
  },

  "ecmaFeatures": {
    "generators": true
  },

  "rules": {
    "quotes": [1, "single"],
    "semi": [2, "always"],
    "max-len": [1, 80, 4],
    "no-underscore-dangle": 0,
    "no-multi-spaces": 0,
    "no-undef": 2,
    "no-unreachable": 2,
    "no-func-assign": 2,
    "comma-dangle": 0,
    "new-cap": 0,
    "valid-typeof": 2
  }
}
