{
  "env": {
    "node": true
  },

  "ecmaFeatures": {
    "generators": true
  },

  "rules": {
    "quotes": [1, "single"],
    "no-underscore-dangle": 0,
    "no-multi-spaces": 0,
    "comma-dangle": 0,
    "new-cap": 0
  }
}
