
node_modules/
.DS_Store
npm-debug.log*

# exclude emacs temporary files
*~
\#*#
.#*

# exclude test coverage
coverage

# exclude config.local no keys in repos!
# also @adam suggested moving away from ENV vars
credentials.local.json
config.local.json
*.local.json

# exclude lib
lib

# exclude JetBrains IDE
.idea

# skip private folder
.private
gpg-pass.txt

# clusternator ignores
clusternator.tar.gz
bin/curl-post-json.sh

# Jekkyl Site
_site
.sass-cache
.jekyll-metadata
docs/api
