<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>THE CLUSTERNATOR</title>
</head>
<body>
<h1>New Token</h1>
<p>Keep this token secret, keep this token safe.  This is the <em>Only</em>
Time this token will be displayed in clear text
</p>
<br/>
<span><%= token %></span>
<br />
<ul>
    <li><a href="/" title="Index">Home</a></li>
</ul>
</body>
</html>
