<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>THE CLUSTERNATOR</title>
</head>
<body>
<h1>Clusternator</h1>
<ul>
    <li><a href="/logout" title="Logout of Clusternator">Logout</a></li>
    <li><a href="/passwd" title="Change Password">Change Password</a></li>
    <li><a href="/users/<%= username %>/tokens" title="Manage Tokens">Manage Tokens</a></li>
    <li><a href="/0.1/projects" title="projects">View Projects</a></li>
</ul>
</body>
</html>
