<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>THE CLUSTERNATOR</title>
</head>
<body>
<h1>Clusternator</h1>
<noscript>
    Disabling JS is a smart choice
</noscript>
<div id="output"></div>
<script>
    var output = document.getElementById('output');
    var rando = random(10000000000) + '';
    output.innerHTML = rando;
    setInterval(swap, 1500);

    function swap() {
        var swapIndex = random(rando.length);
        rando = rando.slice(0, swapIndex - 1) + random(10) +
                rando.slice(swapIndex);
        output.innerHTML = rando;
    }
    function random(m) {
        return Math.floor(Math.random() * m);
    }
</script>
</body>
</html>
