<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>THE CLUSTERNATOR - Login</title>
</head>
<body>
<form id="passwd" action="/users/<%= username %>/password" method="post">
    <% if (error) { %>
    <h2>Error Changing Password</h2>
    <% } %>
    <div>
        <label>Username:</label>
        <input type="text" name="username" readonly="readonly" value="<%= username %>"/>
    </div>
    <div>
        <label>Current Password:</label>
        <input type="password" name="password" required="true"/>
    </div>
    <div>
        <label>New Password:</label>
        <input type="password" name="passwordNew" id="passwordNew" required="true"/>
    </div>
    <div>
        <label>Confirm:</label>
        <input type="password" name="passwordNewConfirm" id="passwordNewConfirm" required="true"/>
    </div>
    <div>
        <input type="button" value="Submit" onclick="validateForm()"/>
    </div>
</form>
<script language='javascript' type='text/javascript'>
    /** Hacky, but simple */
    function validateForm() {
        var pass = document.getElementById('passwordNew').value,
                newPass = document.getElementById('passwordNewConfirm').value,
                passwd = document.getElementById('passwd');

        if (pass.length < 8) {
            alert('Password Too Short');
            return;
        }
        if (pass === newPass) {
            passwd.submit();
            return;
        }
        alert('Password mismatch');
    }
</script>
</body>
