<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>THE CLUSTERNATOR</title>
</head>
<body>
<h1>Tokens</h1>
<ul>
    <% tokens.forEach(function (token) { %>
        <li><a href="">X</a><%= token %></li>
    <% }); %>
</ul>
<% if (tokens.length <= 5) { %>
<form action="/users/<%= username %>/tokens/" method="post">
    <input type="submit" value="New Token">
</form>
<% } %>
</body>
</html>
